option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "hw1_backend.settings"
    "PYTHONPATH": "/opt/python/current/app/hw1_backend:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: hw1_backend/hw1_backend/wsgi.py
    NumProcesses: 3
    NumThreads: 20